@import "tailwindcss";

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

body * {
  pointer-events: all;
  z-index: 999;
}

button {
  @apply hover:cursor-pointer
}

input {
  @apply bg-gray-200;
  @apply bg-zinc-950;
  @apply border-solid;
  @apply border-zinc-200;
  @apply rounded-md;
  @apply border;
  @apply h-9;
  @apply w-full;
  @apply px-3;
  @apply py-1;
  @apply text-zinc-200;
}

.button-primary {
  @apply inline-flex;
  @apply items-center;
  @apply justify-center;
  @apply gap-2;
  @apply whitespace-nowrap;
  @apply rounded-md;
  @apply text-sm;
  @apply font-medium;
  @apply transition-colors;
  @apply bg-zinc-200;
  @apply text-zinc-800;
  @apply shadow;
  @apply h-9;
  @apply px-4;
  @apply py-2;
}

.discussion-awareness-animation {
  @apply bg-green-500;
  @apply rounded-full;
  @apply absolute;
  width: 10px;
  height: 10px;
  top: calc(50% - 5px); /* since the indicators are 10px x 10px -5px offset */
  left: calc(50% - 5px); /* since the indicators are 10px x 10px -5px offset */
  animation: 2s ease-out infinite awarenesspulse;
}

.discussion-activation-awareness-animation {
  @apply bg-green-500;
  @apply rounded-full;
  @apply absolute;
  width: 20px;
  height: 20px;
  top: calc(50% - 10px); /* since the indicators are 10px x 10px -5px offset */
  left: calc(50% - 10px); /* since the indicators are 10px x 10px -5px offset */
  animation: 2s ease-out infinite awarenesspulse;
}

.comment {
  @apply border-b;
  @apply border-zinc-200;
  @apply my-4;
  @apply px-3;
  @apply pb-3;
}

.comment:last-child {
  @apply border-none;
  @apply border-zinc-200;
  /* @apply mb-0; */
  @apply pb-0;
}

button[disabled] {
  @apply cursor-default;
  @apply opacity-50;
}

dialog {
  position-area: center;
  @apply p-5;
  @apply border;
  @apply border-zinc-200;
  @apply rounded-md;
}

@keyframes awarenesspulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}